.item1, .item2, .item3 {
    opacity: 0.0;
}

.container{
    float:left;
}

.item1-one , .item1--one {
    opacity: 0.0;
    transition: all 1.0s;
    -moz-transition: all 1.0s;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;;
}

.item1-two {
    opacity: 1.0;
    transition: all 1.0s;
    -moz-transition: all 1.0s;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
}



.item1-three {
    opacity: 1.0;
    transition: all 2.0s;
	transition-delay: 2s;
    -moz-transition: all 2.0s;
    -webkit-transition: all 2.0s;
    -o-transition: all 2.0s;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    -ms-transition-delay: 2s;
    
}

.item2-one {
    color: red;
}

.item2-two {
    color: red;
    opacity: 1.0;
    transition: all 1.0s;
	transition-delay:500ms;
	-webkit-transition: all 1.0s;
    -webkit-transition-delay:500ms;
    -moz-transition: all 1.0s;    
	-moz-transition-delay:500ms;
    -o-transition: all 1.0s;
	-o-transition-delay:500ms;
}

.item3-three {
    color: red;
    opacity: 1.0;
    transition: all 1.0s;
    -moz-transition: all 1.0s;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
}

.test1, .test2, .test3, .test1-one, .test2-two, .test3-three {

}

.two-properties-transitions {
    width: 200px;
    height: 200px;
    transition:width 2s ease,height 3s ease;
    -webkit-transition: width 2s ease,height 3s ease;
    -moz-transition:width 2s ease,height 3s ease;
    -o-transition:width 2s ease,height 3s ease;
}